.wrong-route-container {
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/404-Icon.png);
    background-position: left -120px bottom;
    background-size: 40%;
    background-repeat: no-repeat;

    @media screen and (max-width: 736px) {
        background-image: none;
    }

    &__title {
        font-size: 10em;
    }

    &__sub-title {
        font-size: 3em;
        text-transform: uppercase;
        margin-bottom: .5em;
    }

    &__go-to-list {
        border: none;
        padding: 15px;
        background: #213F66;
        color: #fff;
        font-weight: 600;
        border-radius: 10px;
        transition: all .3s ease-in-out;
        cursor: pointer;

        &:hover {
            background: #009EAD;
        }
    }
}