.main-container {
    grid-template-columns: auto;
}

.post-item {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    padding: 35px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__cta-home {
        background: #213F66;
        border: none;
        color: #FFF;
        font-weight: 900;
        text-transform: uppercase;
        padding: 5px 20px;
        position: absolute;
        top: -28px;
        left: 15px;
        border-radius: 15px 15px 0 0;
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:hover {
            background: #009EAD;
            color: #213F66;
            text-shadow: 0 0 5px rgba(255,255,255, .7);
            padding-bottom: 8px;
            padding-top: 8px;
            top: -35px;
        }
    }

    &__publish-date {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px 12px;
        border-radius: 0 15px 0 15px;
        background: #213F66;
        color: #fff;
        font-weight: 900;
        font-size: .9em;
    }
}

.slug-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    &__item {
        padding: 5px;
        border-radius: 5px;
        color: #fff;
        font-weight: 600;
        background: #009EAD;
    }
}
