<div class="main-container">
    <div class="post-item">

        <button class="post-item__cta-home" (click)="backToHome()">Back to Home</button>

        <div class="post-item__publish-date">
            {{postItemDetail.publish_date}}
        </div>
    
        <h2 class="post-item__title">{{postItemDetail.title}}</h2>
        <h3 class="post-item__author">Author: {{postItemDetail.author}}</h3>
    
        <div class="post-item__description" [innerHTML]="postItemDetail.content"></div>
        
        <div class="slug-container"> 
            <div class="slug-container__item">
            {{postItemDetail.slug}}
            </div>
        </div>
    </div>

    <div class="post-comments" *ngIf="postItemDetailComments.length > 0">
        <h2 class="post-comments__title">Post Comments</h2>

        <div class="post-comments__container">
    
            <div class="post-comments__container__item" *ngFor="let commentItem of postItemDetailComments">
                <div class="post-comments__container__item__content">
                    {{commentItem.content}}
                </div>
                <div class="post-comments__container__item__date">
                    {{commentItem.date}}
                </div>
                <div class="post-comments__container__item__user">
                    {{commentItem.user}}
                </div>
    
            </div>
        </div>
    </div>
</div>
