.main-container {
    width: 90vw;
    max-width: 1340px;
    min-height: 90vh;
    margin-bottom: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1.5rem;
} 

.post-item {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    padding: 35px;
    position: relative;


    &__publish-date {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px 12px;
        border-radius: 0 15px 0 15px;
        background: #213F66;
        color: #fff;
        font-weight: 900;
        font-size: .9em;
    }

    &__title {
        color: #213F66;
        font-size: 2.5em;
        font-weight: 900;
    }

    &__description {
        font-size: 16px;
        margin: .5em 0 1em;
        font-weight: 400;

    }

    &__author {
        color: #009EAD;
        margin: .2em 0;
        font-weight: 600;
    }

    &__cta-button {
        border: none;
        padding: 10px 25px 5px 20px;
        background: #009EAD;
        color: #fff;
        transition: all .3s ease-in-out;
        font-weight: 900;
        text-transform: uppercase;
        border-radius: 0 35px 0 15px;
        position: absolute;
        left: 0;
        bottom: 0;
        cursor: pointer;

        &:hover {
            background: #213F66;
            padding-right: 55px;
            padding-left: 55px;
        }
    }

    &:nth-child(2n) {
        grid-row: span 2; /* Spans two rows */
    }
}

.slug-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    &__item {
        padding: 5px;
        border-radius: 5px;
        color: #fff;
        font-weight: 600;
        background: #009EAD;
    }
}


.blog-header {
    margin: 3em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 736px) {
        flex-direction: column;
        gap: 35px;
        margin-bottom: 1em;;
    }

    &__logo {
        width: 250px;
    }

    &__title {
        font-weight: 900;
        color: #009EAD;
        font-size: 2.5em;

        @media screen and (max-width: 736px) {
            color: #213F66;
            font-size: 1.8em;
            background: #fff;
            border-radius: 15px;
            padding: 5px 45px;
            text-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
        }
    }
}