<div class="post-comments">

    <ng-container *ngIf="postItemDetailComments.length > 0">
        <h2 class="post-comments__title" >
            Post Comments
        </h2>
    
        <div class="post-comments__container">
            <div class="post-comments__container__item"  *ngFor="let commentItem of postItemDetailComments">
                <div class="post-comments__container__item__content">
                    {{commentItem.content}}
                </div>
                <div class="post-comments__container__item__date">
                    {{commentItem.date}}
                </div>
                <div class="post-comments__container__item__user">
                    {{commentItem.user}}
                </div>
            </div>
        </div>

    </ng-container>
    

    <h2 class="post-comments__title">Add New Comments</h2>
        <form [formGroup]="formComments" class="post-comments__add-container">
            <div>
                <input formControlName="user" 
                       type="text"
                       placeholder="Add user name to your commentary"
                       class="post-comments__add-container__input-user"
                       [ngClass]="{'post-comments__add-container__input-user--invalid': isControlInvalid('user')}">

                <textarea formControlName="commentary"
                          placeholder="Add new post commentary"
                          class="post-comments__add-container__text-area"
                          [ngClass]="{'post-comments__add-container__text-area--invalid': isControlInvalid('commentary')}"></textarea>
            </div>
            <button class="post-comments__add-container__send-button"
                    (click)="addCommentToPost(postId)"
                    [disabled]="isControlInvalid('commentary')">Add Commentary</button>
        </form>
</div>